#include "buttons.h"
#include "dlg2.h"
#include <windows.h>

ButtonsExample DIALOGEX 50,50,154,108 STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Buttons Example"
FONT 8,"MS Sans Serif"
{

	CONTROL "PushButton",IDC_BUTTON1,"button",BS_PUSHBUTTON|BS_CENTER|BS_NOTIFY|WS_CHILD|WS_VISIBLE|WS_TABSTOP,8,72,64,16
	CONTROL "Group1",IDC_GROUPBOX1,"button",BS_GROUPBOX|WS_CHILD|WS_VISIBLE|WS_GROUP,4,4,72,60
	CONTROL "RadioButton1",IDC_RADIOBUTTON1,"button",BS_AUTORADIOBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,8,12,64,16
	CONTROL "RadioButton2",IDC_RADIOBUTTON2,"button",BS_AUTORADIOBUTTON|BS_FLAT|WS_CHILD|WS_VISIBLE|WS_TABSTOP,8,28,64,16
	CONTROL "RadioButton3",IDC_RADIOBUTTON3,"button",BS_AUTORADIOBUTTON|BS_LEFTTEXT|WS_CHILD|WS_VISIBLE|WS_TABSTOP,8,43,64,16
	CONTROL "Group2",IDC_GROUPBOX2,"button",BS_GROUPBOX|WS_CHILD|WS_VISIBLE|WS_GROUP,78,4,72,60
	CONTROL "CheckBox1",IDC_CHECKBOX1,"button",BS_AUTOCHECKBOX|WS_CHILD|WS_VISIBLE|WS_TABSTOP,82,12,64,16
	CONTROL "CheckBox2",IDC_CHECKBOX2,"button",BS_AUTOCHECKBOX|WS_CHILD|WS_VISIBLE|WS_TABSTOP,82,28,64,16
	CONTROL "CheckBox3",IDC_CHECKBOX3,"button",BS_AUTOCHECKBOX|WS_CHILD|WS_VISIBLE|WS_TABSTOP,82,43,64,16
	CONTROL "Cancel",IDC_BUTTON2,"button",BS_PUSHBUTTON|BS_CENTER|WS_CHILD|WS_VISIBLE|WS_TABSTOP,82,72,64,16
	CONTROL "StatusWindow1",IDC_STATUSBAR,"msctls_statusbar32",3|WS_CHILD|WS_VISIBLE,0,116,154,12
}

ShopDialog DIALOGEX 50,50,220,140 STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Shop dialog"
FONT 8,"MS Sans Serif"
{

	LISTBOX IDC_ListBox1, 20, 20, 80, 50, LBS_NOTIFY | WS_BORDER | WS_VSCROLL
	LISTBOX IDC_ListBox2, 120, 20, 80, 50, LBS_NOTIFY | WS_BORDER | WS_VSCROLL
	CONTROL "Cancel",IDC_BUTTON3,"button",BS_PUSHBUTTON|BS_CENTER|WS_CHILD|WS_VISIBLE|WS_TABSTOP,20,80,64,16
	CONTROL "OK",IDC_BUTTON4,"button",BS_PUSHBUTTON|BS_CENTER|WS_CHILD|WS_VISIBLE|WS_TABSTOP,20,105,64,16
	LTEXT "Name:\nCost:", IDC_Info, 120, 80, 64, 45
	CONTROL ">",IDC_btnRight,"button",BS_PUSHBUTTON|BS_CENTER|WS_CHILD|WS_VISIBLE|WS_TABSTOP,102,20,16,16
	CONTROL "<",IDC_btnLeft,"button",BS_PUSHBUTTON|BS_CENTER|WS_CHILD|WS_VISIBLE|WS_TABSTOP,102,45,16,16

}


ButtonsExampleMenu MENU
{
	POPUP "&File"
	{
		MENUITEM "E&xit",IDM_EXIT
	}
	POPUP "&Dialog"
	{

		MENUITEM "Set RadioButton&1",IDM_RadioButton1
		MENUITEM "Set RadioButton&2",IDM_RadioButton2
		MENUITEM "Set RadioButton&3",IDM_RadioButton3

		POPUP "Initialize &CheckButtons"
		{
			MENUITEM "Set CheckButton&1",IDM_CheckButton1
			MENUITEM "Set CheckButton&2",IDM_CheckButton2
			MENUITEM "Set CheckButton&3",IDM_CheckButton3
		}
		MENUITEM  SEPARATOR
		MENUITEM  "Displa&y Dialog",IDM_DisplayDialog
	}

	POPUP "&Buy"
	{

		MENUITEM  "Displa&y Dialog",IDM_DisplayDialog2

	}

}

