#include <windows.h>
#include "menu.h"

MyMenu MENU
{
POPUP "&File"
	{
	MENUITEM "Enable e&xit\tctrl+b",IDM_Enable_Disable
	MENUITEM "Ex&it\tctrl+a", IDM_Exit, GRAYED
	}
POPUP "My_&Test"
	{
	MENUITEM "&Image\tctrl+i", IDM_Image
	MENUITEM "Primitive &1\tctrl+1", IDM_P1
	MENUITEM "Primitive &2\tctrl+2", IDM_P2
	}
POPUP "&Help"
	{
	MENUITEM "About\tctrl+c", IDM_About
	}
}
MyAccelerators ACCELERATORS
{
	"^b",	IDM_Enable_Disable,	NOINVERT
	"^a",	IDM_Exit,	NOINVERT
	"^c",	IDM_About,	NOINVERT
	"^1",	IDM_P1,		NOINVERT
	"^2",	IDM_P2,		NOINVERT
	"^i",	IDM_Image,	NOINVERT
	//"d",	IDM_Enable_Disable
}
/*
ENDIS ACCELERATORS
{
	"X",	IDM_Enable_Disable,	CONTROL,	VIRTKEY
}

EX ACCELERATORS
{
	"E",	IDM_Exit,	CONTROL,	VIRTKEY
}

ABO ACCELERATORS
{
	"A",	IDM_About,	CONTROL,	VIRTKEY
}

DISEN ACCELERATORS
{
	"D",	IDM_Enable_Disable,	CONTROL,	VIRTKEY
}
*/
