#include "dlg2.h"
#include <windows.h>

ShopDialog DIALOGEX 50,50,400,300 STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Shop dialog"
FONT 8,"MS Sans Serif"
{


	LISTBOX IDC_ListBox1, 50, 50, 140, 240, LBS_NOTIFY | WS_BORDER | WS_VSCROLL
	LISTBOX IDC_ListBox2, 250, 50, 340, 240, LBS_NOTIFY | WS_BORDER | WS_VSCROLL


}

